NEXT_PUBLIC_SUPABASE_URL=https://qfrrtygljpncmadkjswf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dtrb5cndv
NEXT_PUBLIC_FIREBASE_PROJECT_ID=postall-e15cb
SUPABASE_SERVICE_ROLE_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_SECRET=
PAYSTACK_SECRET_KEY=
OPENAI_API_KEY=
RESEND_API_KEY=
